@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #8dc3f5, #2f85d6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #4a6b8a88;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #122A57;
    text-align: center;
    text-shadow: 1px 1px 2px #10244b;
}

h2{
    color: #0649a7;
}

p{
    text-align: justify;
}